{% load humanize %}
<table id="stock-table" class="display table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tricker</th>
            <th colspan="2">SMA: value | Range | %</th>
            <th colspan="1">SMA</th>
            <!-- <th colspan="2"> 50SMA In %</th>
            <th>Live Data</th> -->
            <th>Note</th>
            <th>Status</th>
            <th>Trade</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.id }}</td>
            <td>
                <a href="https://in.tradingview.com/chart/?symbol=NSE%3A{{stock.stock_code}}" name="ticker" title="{{ stock.name}}" target="_blank">{{ stock.stock_code }}</a> 
                <span class="isectick" onclick="copyTicker(this)">{{stock.ticker}}</span>
                <p>Price: {{ stock.stock_cmp }}</p>
            </td>
            <td colspan="2">                
                <p>50 : {{ stock.moving_average_50 }} | {{ stock.range_50ma }} | {{ stock.percent_50ma }} </p>
                <p>20 : {{ stock.moving_average_20 }} | {{ stock.range_20ma }} | {{ stock.percent_20ma }} </p>
                <p>09 : {{ stock.moving_average_09 }} | {{ stock.range_09ma }} | {{ stock.percent_09ma }} </p>
            </td>
            <td>
                <p>50MA: {{ stock.live50ma }} | {{ stock.cp50ma }} | {{ stock.cp50ma }} </p>
                <p>9-20MA: {{ stock.live21ma }} | {{ stock.live09ma }}</p>
                <p>{{ stock.live_price }} | {{stock.live_change}} | {{ stock.live921 }}  </p>
            </td>
            <!-- <td  colspan="2">
                <p>CMP: {{ stock.live_price }}</p>
                <p>chg: {{stock.live_change}}</p>
                <p>50 >: {{stock.sma50_range}}</p>
            </td> -->
            <td>
                <!--  Note -->
                {% if stock.cp50ma %}
                    {% if stock.cp50ma > 6 %}
                        <span>CP > 10%</span>
                    {% else %}
                        <span style="color:green;">Valid 50</span>
                    {% endif %}
                {% elif stock.percent_50ma > 6 %}
                    <span style="color:red;">Over Value</span>
                {% else %}
                    <span style="color:green;">Valid ,</span>
                {% endif %}
            </td>
            <td><p>{{stock.status}}</p>
                {% if stock.status == 0 %}
                    <b>Invalid</b>
                {% elif stock.status == 1 %}
                    <b>Over Value</b>
                {% elif stock.status == 2 %}
                    <b>Stoploss</b>
                {% elif stock.status == 3 %}
                    <b>Completed</b>
                {% elif stock.status == 4 %}
                    <b>New</b>
                {% elif stock.status == 5 %}
                    <b>Update</b>
                {% elif stock.status == 6 %}
                    <b>Entry</b>
                {% elif stock.status == 7 %}
                    <b>Confirmation 50MA</b>
                {% elif stock.status == 8 %}
                    <b>Order</b>
                {% elif stock.status == 9 %}
                    <b>Target 1</b>
                {% elif stock.status == 10 %}
                    <b>Target 2</b>
                {% elif stock.status == 11 %}
                    <b>Target 3</b>
                {% elif stock.status == 12 %}
                    <b>Above T3</b>
                {% elif stock.status == 13 %}
                    <b>Altra</b>
                {% else %}
                    <b>Out of Range</b>
                {% endif %}
            </td>
            <td>

                <button class="btn btn-sm btn-success" hx-post="{% url 'place_order' %}" hx-vals='{
                    "stock_code": "{{ stock.stock_code }}",
                    "exchange": "NSE",
                    "quantity": "1",
                    "price": "{{ stock.price }}",
                    "order_type": "MARKET",
                    "product": "cash",
                    "action": "BUY"
                }'
                hx-target="#order-msg-{{ stock.id }}"
                hx-swap="outerHTML">
                Buy
            </button>
            <div id="order-msg-{{ stock.id }}"></div>
            </td>
            <td>{{ stock.created_at|date:"d M y" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="11">No stocks found for given filters.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function copyTicker(el) {
    navigator.clipboard.writeText(el.innerText);
    alert('Copied: ' + el.innerText);
}
</script>